<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.base.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, realname, sex, age, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.springboot.base.entity.User" >
    insert into t_user (id, username, password, 
      realname, sex, age, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.base.entity.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.base.entity.User" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.base.entity.User" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
     from 
     T_USER
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="username != null" >
         and username= #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
         and password= #{password,jdbcType=VARCHAR}
      </if>
      <if test="realname != null" >
         and realname= #{realname,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
         and sex= #{sex,jdbcType=INTEGER}
      </if>
      <if test="age != null" >
         and age= #{age,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="order != null" >
      <![CDATA[  order by  ${order} ]]>
    </if>
  </select>
  <select id="selectPageList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
     from 
     T_USER
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="username != null" >
         and username= #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
         and password= #{password,jdbcType=VARCHAR}
      </if>
      <if test="realname != null" >
         and realname= #{realname,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
         and sex= #{sex,jdbcType=INTEGER}
      </if>
      <if test="age != null" >
         and age= #{age,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="order != null" >
      <![CDATA[  order by  ${order} ]]>
    </if>
    <if test="page != null" >
      <![CDATA[  limit #{page.begin}, #{page.length} ]]>
    </if>
  </select>
  <select id="selectCount" resultType="int" parameterType="java.util.Map" >
     select
     count(1)
     from 
     T_USER
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="username != null" >
         and username= #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
         and password= #{password,jdbcType=VARCHAR}
      </if>
      <if test="realname != null" >
         and realname= #{realname,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
         and sex= #{sex,jdbcType=INTEGER}
      </if>
      <if test="age != null" >
         and age= #{age,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectOne" resultMap="BaseResultMap" parameterType="com.springboot.base.entity.User" >
    select 
    <include refid="Base_Column_List" />
     from 
     T_USER
    <where >
      <if test="id != null" >
         and id= #{id,jdbcType=VARCHAR}
      </if>
      <if test="username != null" >
         and username= #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
         and password= #{password,jdbcType=VARCHAR}
      </if>
      <if test="realname != null" >
         and realname= #{realname,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
         and sex= #{sex,jdbcType=INTEGER}
      </if>
      <if test="age != null" >
         and age= #{age,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time= #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time= #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>